<section>
  <div class="features-container">
    <h2 class="features-titel">Game Features</h2>
    <ul class="features-list">
      <li class="features-item">
        Immerse yourself in a vibrant world filled with colorful candies and
        unique puzzles.
      </li>
      <li class="features-item">
        Enjoy hundreds of levels with a variety of objectives and increasing
        difficulty.
      </li>
      <li class="features-item">
        Unlock and utilize special boosters to aid in your quest through the
        candy paradise.
      </li>
      <li class="features-item">
        Follow a captivating storyline filled with sweet adventures and charming
        characters.
      </li>
      <li class="features-item">
        Engage in dynamic events and challenges for extra rewards and
        excitement.
      </li>
    </ul>
    <button type="button" class="features-button">
      <img src="/img/features/button.svg" />
    </button>
  </div>
</section>
