<section id="gallery" class="gallery">
  <div class="container">
    <h2 class="gallery-header">Gallery</h2>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/slide1_1_desktop_1x.jpg 1x,
                ./img/gallery/slide1_1_desktop_2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/gallery/slide1_1_mob_1x.jpg 1x,
                ./img/gallery/slide1_1_mob_2x.jpg 2x
              "
              media="(max-width: 1199.98px)"
            />
            <img
              src="./img/gallery/slide1_mob_1x.jpg"
              alt="screenshots from game"
              width="140"
              height="292"
            />
          </picture>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/slide2_desktop_1x.jpg 1x,
                ./img/gallery/slide2_desktop_2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/gallery/slide2_mob_1x.jpg 1x,
                ./img/gallery/slide2_mob_2x.jpg 2x
              "
              media="(max-width: 1199.98px)"
            />
            <img
              src="./img/gallery/slide2_mob_1x.jpg"
              alt="screenshots from game"
              width="140"
              height="292"
            />
          </picture>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/slide3_desktop_1x.jpg 1x,
                ./img/gallery/slide3_desktop_2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/gallery/slide3_mob_1x.jpg 1x,
                ./img/gallery/slide3_mob_2x.jpg 2x
              "
              media="(max-width: 1199.98px)"
            />
            <img
              src="./img/gallery/slide3_mob_1x.jpg"
              alt="screenshots from game"
              width="140"
              height="292"
            />
          </picture>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/slide4_desktop_1x.jpg 1x,
                ./img/gallery/slide4_desktop_2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/gallery/slide4_mob_1x.jpg 1x,
                ./img/gallery/slide4_mob_2x.jpg 2x
              "
              media="(max-width: 1199.98px)"
            />
            <img
              src="./img/gallery/slide4_mob_1x.jpg"
              alt="screenshots from game"
              width="140"
              height="292"
            />
          </picture>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/slide5_desktop_1x.jpg 1x,
                ./img/gallery/slide5_desktop_2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/gallery/slide5_mob_1x.jpg 1x,
                ./img/gallery/slide5_mob_2x.jpg 2x
              "
              media="(max-width: 1199.98px)"
            />
            <img
              src="./img/gallery/slide5_mob_1x.jpg"
              alt="screenshots from game"
              width="140"
              height="292"
            />
          </picture>
        </li>
      </ul>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
