<header class="header">
  <div class="container">
    <div class="header-container">
      <div class="header-burger">
        <button class="burger-button" data-modal-open>
          <svg class="burger-icon">
            <use href="/img/sprite.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
      <div class="header-logo">
        <a href="./" class="header-link">
          <div class="image-container">
            <img class="header-logo-image" src="./img/logo_1x.jpg" alt="logo" />
          </div>
        </a>
      </div>

      <div class="backdrop is-hidden" data-modal>
        <nav class="nav">
          <button class="nav-button" data-modal-close>
            <svg class="close-icon">
              <use href="./img/sprite.svg#icon-close"></use>
            </svg>
          </button>
          <ul class="nav-list">
            <li class="nav-item">
              <a href="#home" class="nav-link">Home</a>
            </li>

            <li class="nav-item">
              <a href="./gallery.html" class="nav-link">Gallery</a>
            </li>
            <li class="nav-item">
              <a href="./about.html" class="nav-link">About the Game</a>
            </li>
            <li class="nav-item">
              <a href="./how.html" class="nav-link">How to Play</a>
            </li>
            <li class="nav-item">
              <a href="#features" class="nav-link">Game Features</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- <div class="crush-text">CRUSH</div> -->
<!-- <p class="outlined-text">Обтекающий текст</p> -->

<!-- <svg width="500" height="100" class="outlined-svg">
  <text x="50" y="50" class="outlined-text">
    Обтекающий текст
  </text>
</svg> -->
