<section class="home" id="home">
  <div class="container">
    <h1 class="main-title">Candy Island: Sweet Adventure</h1>
    <h2 class="home-title">
      Dive into a delicious adventure filled with sweet challenges and candy
      fun!
    </h2>
    <div class="image_container main-image">
      <img src="./img/home/home_image_clr.png" alt="screenshots from game" />
    </div>
    <button type="button" class="google-button">
      <div class="image-container">
        <img src="./img/features/button.png" alt="logo googleplay" />
      </div>
    </button>
  </div>
</section>
