<section class="home" id="home">
  <div class="container">
    <h1 class="main-title">Candy Island: Sweet Adventure</h1>
    <h2 class="home-title">
      Dive into a delicious adventure filled with sweet challenges and candy
      fun!
    </h2>
    <div class="image_container main-image">
      <img
  srcset="./img/home/home_image_clr.png 1x, ./img/home/home_image_clr_2x.png 2x"
  src="./img/home/home_image_clr.png"
  alt="screenshots from game"
/>
     
    </div>
    <button type="button" class="google-button">
      <a href="https://play.google.com/store/apps/details?id=com.zymobile.candy.island.sweet&pli=1">
      <div class="image-container">
        <img src="./img/features/button.png" alt="logo googleplay" />
      </div>
    </a>
    </button>
  </div>
</section>
