<section class="home" id="home">
  <div class="container">
    <h1 class="main-title">Candy Island: Sweet Adventure</h1>
    <h2 class="home-title">
      Dive into a delicious adventure filled with sweet challenges and candy
      fun!
    </h2>

    <div class="image_container main-image">
      <picture>
        <source
          srcset="
            ./img/home/desktop_1x_clr.png 1x,
            ./img/home/desktop_2x_clr.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./img/home/mobile_1x_clr.png 1x,
            ./img/home/mobile_2x_clr.png 2x
          "
          media="(max-width: 1199.98px)"
        />
        <img
          src="./img/home/mobile_1x_clr.png"
          alt="screenshots from game"
          width="276"
          height="254"
        />
      </picture>
    </div>
    <div class="button">
      <a class="google-button"
      target="_blank"
        href="https://play.google.com/store/apps/details?id=com.zymobile.candy.island.sweet&pli=1"
      >
        <div class="image-container">
          <img src="./img/features/button.png" alt="logo googleplay" />
        </div>
      </a>
    </div>
   
  </div>
</section>
