<section id="how">
  <div class="container">
      
  </div>
</section>


<!-- <section id="how">
  <div> <h2>How to Play</h2>
  <ul>
    <li>
      <picture>
        <source
          srcset="
            /img/how/desktop/1-desktop-1x.jpg 1x,
            /img/how/desktop/1-desktop-2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="/img/how/mob/1-mob-1x.jpg 1x, /img/how/mob/1-mob-2x.jpg 2x"
          media="(max-width: 1199.98px)"
        />
        <img
          src="/img/how/desktop/1-desktop-1x.jpg"
          alt="picture how game"
          width="304"
          height="300"
        />
      </picture>
    </li>
    <li><picture>
        <source
          srcset="
            /img/how/desktop/2-desktop-1x.jpg 1x,
            /img/how/desktop/2-desktop-2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="/img/how/mob/2-mob-1x.jpg 1x, /img/how/mob/2-mob-2x.jpg 2x"
          media="(max-width: 1199.98px)"
        />
        <img
          src="/img/how/desktop/2-desktop-1x.jpg"
          alt="picture how game"
          width="304"
          height="300"
        /></li>
    <li><picture>
        <source
          srcset="
            /img/how/desktop/3-desktop-1x.jpg 1x,
            /img/how/desktop/3-desktop-2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="/img/how/mob/3-mob-1x.jpg 1x, /img/how/mob/3-mob-2x.jpg 2x"
          media="(max-width: 1199.98px)"
        />
        <img
          src="/img/how/desktop/3-desktop-1x.jpg"
          alt="picture how game"
          width="304"
          height="300"
        /></li>
    <li><picture>
        <source
          srcset="
            /img/how/desktop/4-desktop-1x.jpg 1x,
            /img/how/desktop/4-desktop-2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="/img/how/mob/4-mob-1x.jpg 1x, /img/how/mob/4-mob-2x.jpg 2x"
          media="(max-width: 1199.98px)"
        />
        <img
          src="/img/how/desktop/4-desktop-1x.jpg"
          alt="picture how game"
          width="304"
          height="300"
        /></li>
    <li><picture>
        <source
          srcset="
            /img/how/desktop/5-desktop-1x.jpg 1x,
            /img/how/desktop/5-desktop-2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="/img/how/mob/5-mob-1x.jpg 1x, /img/how/mob/5-mob-2x.jpg 2x"
          media="(max-width: 1199.98px)"
        />
        <img
          src="/img/how/desktop/5-desktop-1x.jpg"
          alt="picture how game"
          width="304"
          height="300"
        /></li>
    <li><picture>
        <source
          srcset="
            /img/how/desktop/6-desktop-1x.jpg 1x,
            /img/how/desktop/6-desktop-2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="/img/how/mob/6-mob-1x.jpg 1x, /img/how/mob/6-mob-2x.jpg 2x"
          media="(max-width: 1199.98px)"
        />
        <img
          src="/img/how/desktop/6-desktop-1x.jpg"
          alt="picture how game"
          width="304"
          height="300"
        /></li>
  </ul></div>
</section> -->
