.home {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 62px;
  scroll-margin-top: 157px;
  
 
}

.home .container {
  padding-left: 22px;
  padding-right: 22px;
  max-width: 320px;
  @media (min-width: 1200px) {
    max-width: 1200px;
    padding-left: 128px;
  padding-right: 128px;
  }


}

.main-title {

  max-width: 250px;
  margin-bottom: 14px;
  margin: 0 auto;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.22;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-shadow: 0px 4px 9px rgba(0, 0, 0, 0.54); 
}

.home-title {
  margin-bottom: 14px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.22;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.image_container  img {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: auto;
}

.image_container.main-image {
  margin-bottom: 32px;
}

.button {
  text-align: center;
}

.google-button {
  display: inline-block;

  border: none;
}

.google-button:hover,
:focus {
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.71);
  border-radius: 5px;
}

@media screen and (min-width: 1200px) {
  .home{
    margin-bottom: 80px;
    scroll-margin-top: 192px;
    
  }
  .image_container > img {
  
    max-width: 830px;
  }
  .image_container {
    max-width: 830px;
    margin: 0 auto;
    padding-left: 56px;
    padding-right: 56px;
  }
  .home-title {
    font-size: 24px;
  }
  .main-title {
    max-width: 100%;
  
  margin:  auto;
    font-size: 52px;
  }
  .google-button img {
    width: 218px;
    height: 66px;
  }

}


