@import './component/header.scss';
@import './component/about.scss';
@import './component/features.scss';
@import './component/footer.scss';
@import './component/gallery.scss';
@import './component/home.scss';
@import './component/how.scss';

:root {
  body {
    font-family: 'Montserrat', serif;
  }

  .container {
    max-width: 320px;
    padding-left: 18px;
    padding-right: 18px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(
      180deg,
      #fef2bc 0%,
      #fff6c4 9.95%,
      #fff6c4 18.36%,
      #fbde91 48.5%,
      #f6c358 100%
    );
    height: 500px; 
  }

  @media screen and (min-width: 1201px) {
    .container {
      max-width: 1200px;
    }
  }

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
