@import './component/header.scss';
@import './component/about.scss';
@import './component/features.scss';
@import './component/footer.scss';
@import './component/gallery.scss';
@import './component/home.scss';
@import './component/how.scss';
@import './component/page-privacy-policy.scss';

:root {
  body {
    padding-top: 90px;
    font-family: 'Montserrat', serif;
    background: linear-gradient(
      180deg,
      #fef2bc 0%,
      #fff6c4 9.95%,
      #fff6c4 18.36%,
      #fbde91 48.5%,
      #f6c358 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .container {
    max-width: 320px;
    // padding-left: 18px;
    // padding-right: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1200px;
      //   padding-left: 129px;
      // padding-right: 129px;
    }
  }

  font-family: 'Fredoka One', sans-serif;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #000;
  // background-image: linear-gradient(
  //   180deg,
  //   #fef3be 0%,
  //   #fbde92 50%,
  //   #f7c359 100%
  // );
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  // max-width: 320px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  // @media (min-width: 1200px) {
  //   max-width: 1200px;
  // }
}
